<table border="0" width="210" cellpadding="2"
cellspacing="2">
<tr>
    <td colspan=3 bgcolor=#e8e8e8><b>Indicatii</b>
		<br> -- Shift pentru zoom rectangular 
		<br> -- Click pentru detalii 
		<br> -- Click in afara popup-ului 
		<br> -- pentru a-l inchide
		<br> -- Primul layer selectat de jos 
		<br> -- in jos este interogabil	
		<br> -- Necompatibil IE
	</td>
</tr>
<tr><td><br></td></tr>
<tr>
    <td colspan=3 bgcolor=#e8e8e8><b>Acoperirea terenului</b></td>
</tr>

    <tr>
        <td valign="top">
            <img src="legenda/Cheile aiudului_5341_1308771159_7_0_40_25_s0_ddff7e_ffffffff_0_7__360.png" width=40 height=25>
        </td>
        <td bgcolor="#ffffff">
               Teren viran
        </td>
    </tr>
    
    <tr>
        <td valign="top">
            <img src="legenda/Cheile aiudului_5341_1308771159_7_1_40_25_s0_ff7f_ffffffff_0_13__360.png" width=40 height=25>
        </td>
        <td bgcolor="#ffffff">
               Padure
        </td>
    </tr>
    
    <tr>
        <td valign="top">
            <img src="legenda/Cheile aiudului_5341_1308771159_7_2_40_25_s0_ff7f_ffffffff_0_13__360.png" width=40 height=25>
        </td>
        <td bgcolor="#ffffff">
               Gradina
        </td>
    </tr>
    
    <tr>
        <td valign="top">
            <img src="legenda/Cheile aiudului_5341_1308771159_7_3_40_25_s0_f6c035_ffffffff_0_0__360.png" width=40 height=25>
        </td>
        <td bgcolor="#ffffff">
               Zona locuita
        </td>
    </tr>
    
    <tr>
        <td valign="top">
            <img src="legenda/Cheile aiudului_5341_1308771159_7_4_40_25_s0_ffa914_ffffffff_0_0__360.png" width=40 height=25>
        </td>
        <td bgcolor="#ffffff">
               Case izolate
        </td>
    </tr>
    
    <tr>
        <td valign="top">
            <img src="legenda/Cheile aiudului_5341_1308771159_7_5_40_25_s0_e26816_ffffffff_0_0__360.png" width=40 height=25>
        </td>
        <td bgcolor="#ffffff">
               Biserica
        </td>
    </tr>
    
    <tr>
        <td valign="top">
            <img src="legenda/Cheile aiudului_5341_1308771159_7_6_40_25_s0_aaff_ffffffff_0_0__360.png" width=40 height=25>
        </td>
        <td bgcolor="#ffffff">
               Apa
        </td>
    </tr>
    
    <tr>
        <td valign="top">
            <img src="legenda/Cheile aiudului_5341_1308771159_7_7_40_25_s0_eedf8f_ffffffff_d5d03e_13__360.png" width=40 height=25>
        </td>
        <td bgcolor="#ffffff">
               Abrupt neamenajat
        </td>
    </tr>
    
    <tr>
        <td valign="top">
            <img src="legenda/Cheile aiudului_5341_1308771159_7_8_40_25_s0_eedf8f_ffffffff_dedede_13__360.png" width=40 height=25>
        </td>
        <td bgcolor="#ffffff">
               Abrupt amenajat
        </td>
    </tr>
    
<tr>
    <td colspan=3 bgcolor=#e8e8e8><b>Chei</b></td>
</tr>

    <tr>
        <td valign="top">
            <img src="legenda/Cheile aiudului_5341_1308771159_6_0_40_25_s0_dedede_ffffff_0_3_747269616e676c650000000000000000_360.png" width=40 height=25>
        </td>
        <td bgcolor="#ffffff">
               Stanca
        </td>
    </tr>
    
    <tr>
        <td valign="top">
            <img src="legenda/Cheile aiudului_5341_1308771159_5_0_40_25_s0_0_ffffffff_0_0__360.png" width=40 height=25>
        </td>
        <td bgcolor="#ffffff">
               Abrupturi stancoase
        </td>
    </tr>
    
<tr>
    <td colspan=3 bgcolor=#e8e8e8><b>Limite rezervatie</b></td>
</tr>

    <tr>
        <td valign="top">
            <img src="legenda/Cheile aiudului_5341_1308771159_4_0_40_25_s0_aa55ff_ffffffff_aa55ff_0__360.png" width=40 height=25>
        </td>
        <td bgcolor="#ffffff">
               Rezervatie stiintifica
        </td>
    </tr>
    
    <tr>
        <td valign="top">
            <img src="legenda/Cheile aiudului_5341_1308771159_4_1_40_25_s0_aa55ff_ffffffff_aa55ff_0__360.png" width=40 height=25>
        </td>
        <td bgcolor="#ffffff">
               Zona tampon
        </td>
    </tr>
    
<tr>
    <td colspan=3 bgcolor=#e8e8e8><b>Drumuri</b></td>
</tr>

    <tr>
        <td valign="top">
            <img src="legenda/Cheile aiudului_5341_1308771159_3_0_40_25_s0_ff0000_ffffffff_ffffffff_7_636972636c6500000000000000000000_360s1_ffffff_ffffffff_ffffffff_7_636972636c6500000000000000000000_360.png" width=40 height=25>
        </td>
        <td bgcolor="#ffffff">
               Drum principal asfaltat
        </td>
    </tr>
    
    <tr>
        <td valign="top">
            <img src="legenda/Cheile aiudului_5341_1308771159_3_1_40_25_s0_fad84d_ffffffff_ffffffff_7_636972636c6500000000000000000000_360s1_ffffff_ffffffff_ffffffff_7_636972636c6500000000000000000000_360.png" width=40 height=25>
        </td>
        <td bgcolor="#ffffff">
               Drum secundar asfaltat
        </td>
    </tr>
    
    <tr>
        <td valign="top">
            <img src="legenda/Cheile aiudului_5341_1308771159_3_2_40_25_s0_dadada_ffffffff_ffffff_7_636972636c6500000000000000000000_360.png" width=40 height=25>
        </td>
        <td bgcolor="#ffffff">
               Drum pietruit
        </td>
    </tr>
    
    <tr>
        <td valign="top">
            <img src="legenda/Cheile aiudului_5341_1308771159_3_3_40_25_s0_a6a6a6_ffffffff_0_7_636972636c6500000000000000000000_360.png" width=40 height=25>
        </td>
        <td bgcolor="#ffffff">
               Drum de tractor
        </td>
    </tr>
    
<tr>
    <td colspan=3 bgcolor=#e8e8e8><b>Parauri</b></td>
</tr>

    <tr>
        <td valign="top">
            <img src="legenda/Cheile aiudului_5341_1308771159_2_0_40_25_s0_aff_ffffffff_0_0__360.png" width=40 height=25>
        </td>
        <td bgcolor="#ffffff">
               Parauri permanente
        </td>
    </tr>
    
    <tr>
        <td valign="top">
            <img src="legenda/Cheile aiudului_5341_1308771159_2_1_40_25_s0_49ffff_ffffffff_0_0__360.png" width=40 height=25>
        </td>
        <td bgcolor="#ffffff">
               Parauri temporare
        </td>
    </tr>
    
<tr>
    <td colspan=3 bgcolor=#e8e8e8><b>Curbe de nivel</b></td>
</tr>

    <tr>
        <td valign="top">
            <img src="legenda/Cheile aiudului_5341_1308771159_1_0_40_25_s0_e0a753_ffffffff_e0a753_1__360.png" width=40 height=25>
        </td>
        <td bgcolor="#ffffff">
               Curbe de nivel principale
        </td>
    </tr>
    
    <tr>
        <td valign="top">
            <img src="legenda/Cheile aiudului_5341_1308771159_1_1_40_25_s0_d5d03e_ffffffff_d5d03e_1__360.png" width=40 height=25>
        </td>
        <td bgcolor="#ffffff">
               Curbe de nivel secundare
        </td>
    </tr>
    
<tr>
    <td colspan=3 bgcolor=#e8e8e8><b>Obiective turistice</b></td>
</tr>

    <tr>
        <td valign="top">
            <img src="legenda/Cheile aiudului_5341_1308771159_0_0_40_25_s0_ffa914_ffffffff_0_2_73746172000000000000000000000000_360.png" width=40 height=25>
        </td>
        <td bgcolor="#ffffff">
                Puncte de interes
        </td>
    </tr>
    </table>